*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}


.logoimage{
  width: 30vh;
}

.navbar {
  overflow: hidden;
  background-color: #ffff;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  z-index: 999;
}

.text{
  font-family: abril fatface;
  margin-top: 70px;
  margin-left: 70px;
  padding-top: 50px;
}

.landing{
  margin-top: 50px;
}

.secondheader{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  
}
.card-title{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold ;
  text-align: center;
  font-size: 30px;
}
.card-text{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 900;
  text-align: center;

}

.join-button{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 30px;

}


.sidenav {
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
  margin: 100px 10px 5px 5px;
}
.headingstyle{
  font-family: abril fatface;
  font-size: 35px;
  font-weight: bold;
  margin-left: 15px;
  color: #299617;


}

.headings{
  font-family: abril fatface;
  font-size: 50px;
  font-weight: bold;
  margin-left: 15px;
  color: #299617;


}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #299617;
  display: block;
  font-weight: bold;
}

.sidenav a:hover {
  color: #064579;
}

.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.topic_header{
  font-family: abril fatface;
}

@media screen and (min-width: 400px) {
  form{
    
  }
}